<div class="post-nav-outer">
    <div id="post-nav-inner" class="post-nav inner">
        {{#prev_post}}
            <a href="{{url}}" class="cako-post-link post-nav-link">
                <div class="cako-post">
                    <div class="cako-post-title">{{title}}</div>
                    <div class="cako-post-date-outer">
                        <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                    </div>
                </div>
            </a>
            <script>
                document.addEventListener("keydown", e => {
                    // don't navigate if currently searching
                    if (e.key == "ArrowLeft" && 
                    (!document.activeElement || !document.activeElement.classList.contains("cako-post-link"))) {
                        window.location = "{{url}}";

                        const navLinks = document.querySelectorAll(".post-nav-link");

                        if (navLinks[0]) {
                            navLinks[0].focus({preventScroll: true});
                        }
                    }
                });
            </script>
        {{else}}
            <div></div>
        {{/prev_post}}
            
        {{#next_post}}
        <a href="{{url}}" class="cako-post-link post-nav-link">
            <div class="cako-post right">
                <div class="cako-post-title">{{title}}</div>
                <div class="cako-post-date-outer">
                    <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                </div>
            </div>
        </a>

        <script>
            document.addEventListener("keydown", e => {
                // don't navigate if currently searching
                if (e.key == "ArrowRight" && 
                (!document.activeElement || !document.activeElement.classList.contains("cako-post-link"))) {
                    window.location = "{{url}}";

                    const navLinks = document.querySelectorAll(".post-nav-link");

                    if (navLinks[1]) {
                        navLinks[1].focus({preventScroll: true});
                    }
                }
            });
        </script>
        {{/next_post}}
    </div>
</div>