<div class="post-nav-outer">
    <div id="post-nav-inner" class="post-nav inner">
        {{#prev_post}}
            <a href="{{url}}" class="cako-post-link post-nav-link">
                <div class="cako-post">
                    <div class="cako-post-title">{{title}}</div>
                    <div class="cako-post-date-outer">
                        <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                    </div>
                </div>
            </a>
            <script>
                document.addEventListener("keydown", e => {
                    const searchShown = document.activeElement && 
                        document.activeElement.classList.contains("cako-post-link");

                    const modifier = e.altKey || e.ctrlKey ||
                        e.metaKey || e.shiftKey;

                    if (e.key == "ArrowLeft" && !searchShown && !modifier) {
                        const navLinks = document.querySelectorAll(".post-nav-link");
                        if (navLinks[0]) {
                            navLinks[0].focus({preventScroll: true});
                        }

                        window.location = "{{url}}";
                    }
                });
            </script>
            <link rel="prefetch" href="{{url}}" />
        {{else}}
            <div></div>
        {{/prev_post}}
            
        {{#next_post}}
        <a href="{{url}}" class="cako-post-link post-nav-link">
            <div class="cako-post right">
                <div class="cako-post-title">{{title}}</div>
                <div class="cako-post-date-outer">
                    <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                </div>
            </div>
        </a>

        <script>
            document.addEventListener("keydown", e => {
                 const searchShown = document.activeElement && 
                        document.activeElement.classList.contains("cako-post-link");

                const modifier = e.altKey || e.ctrlKey ||
                    e.metaKey || e.shiftKey;

                if (e.key == "ArrowRight" && !searchShown && !modifier) {
                    const navLinks = document.querySelectorAll(".post-nav-link");
                    if (navLinks[1]) {
                        navLinks[1].focus({preventScroll: true});
                    }

                    window.location = "{{url}}";
                }
            });
        </script>
        <link rel="prefetch" href="{{url}}" />
        {{/next_post}}
    </div>
</div>