<div class="cako-post">
    <a class="cako-post-link" href="{{url}}">
        <div class="cako-post-title">{{title}}</div>
        <div class="cako-post-date-outer">
            <time class="cako-post-date" title="{{date format="D MMMM YYYY HH:mm:ss"}}" 
                datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D MMMM YYYY"}}</time>
        </div>
    </a>
</div>
