<div class="post-nav-outer">
    <div class="post-nav inner">
        {{#prev_post}}
        <a href="{{url}}" class="cako-post-link post-nav-link">
            <div class="icon arrow-icon-back"></div>
            <div class="cako-post">
                <div class="cako-post-title">{{title}}</div>
                <div class="cako-post-date-outer">
                    <time class="cako-post-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D . M . YYYY"}}</time>
                </div>
            </div>
        </a>
        <script>
            document.addEventListener("keydown", e => {
                // don't navigate if currently searching
                if (e.key == "ArrowLeft" && 
                (!document.activeElement || !document.activeElement.classList.contains("cako-post-link"))) {
                    window.location = "{{url}}";

                    const navLinks = document.querySelectorAll(".post-nav-link");

                    if (navLinks[0]) {
                        navLinks[0].focus();
                    }
                }
            });
        </script>
        {{/prev_post}}

        {{#next_post}}
        <a href="{{url}}" class="cako-post-link post-nav-link">
            <div class="cako-post right">
                <div class="cako-post-title">{{title}}</div>
                <div class="cako-post-date-outer">
                    <time class="cako-post-date" datetime="{{date format=" YYYY-MM-DD"}}">{{date format="D . M . YYYY"}}</time>
                </div>
            </div>
            <div class="icon arrow-icon-forward"></div>
        </a>

        <script>
            document.addEventListener("keydown", e => {
                // don't navigate if currently searching
                if (e.key == "ArrowRight" && 
                (!document.activeElement || !document.activeElement.classList.contains("cako-post-link"))) {
                    window.location = "{{url}}";

                    const navLinks = document.querySelectorAll(".post-nav-link");

                    if (navLinks[1]) {
                        navLinks[1].focus();
                    }
                }
            });
        </script>
        {{/next_post}}
    </div>
</div>