<div class="post-nav-outer">
    <div id="post-nav-inner" class="post-nav inner left">
        {{#prev_post}}
            <div class="cako-post">
                <a href="{{url}}" class="cako-post-link post-nav-link left" data-post-id="{{slug}}">
                    <div class="cako-post-title">{{title}}</div>
                    <div class="cako-post-date-outer">
                        <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                    </div>
                </a>
            </div>
        {{else}}
            <div></div>
        {{/prev_post}}
            
        {{#next_post}}
        <div class="cako-post right">
            <a href="{{url}}" class="cako-post-link post-nav-link right" data-post-id="{{slug}}">
                <div class="cako-post-title">{{title}}</div>
                <div class="cako-post-date-outer">
                    <time class="cako-post-date" datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D . M . YYYY"}}</time>
                </div>
            </a>
        </div>
        {{/next_post}}
    </div>
</div>