<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
    <meta name="google-site-verification" content="CZuJBVbmjQdYaKUXQ6pDcDQ1Y9dH13s1oeZmN_AZpu4" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    <script type="importmap">
    {
        "imports": {
            "Api": "{{asset "js/Api.js"}}",
            "CakoApp": "{{asset "js/CakoApp.js"}}",
            "Header": "{{asset "js/Header.js"}}",
            "Html": "{{asset "js/Html.js"}}",
            "InfiniteScroll": "{{asset "js/InfiniteScroll.js"}}",
            "Lights": "{{asset "js/Lights.js"}}",
            "Menu": "{{asset "js/Menu.js"}}",
            "Search": "{{asset "js/Search.js"}}"
        }
    }
    </script>

    <meta id="theme-color" name="theme-color" content="#fff">

    <script>
        const CONTENT_API_KEY = '{{content_api_key}}';
    </script>

    {{!-- Set dark css path from template to enable cache-busting in Lights.js --}}
    <script>
        const DARK_CSS_PATH = '{{asset "css/dark.css"}}';
    </script>
    <script src="{{asset "js/Lights.js"}}"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="shortcut icon" sizes="192x192" href="/assets/android-chrome-192x192.png">
    <link rel="manifest" href="/assets/site.webmanifest" crossorigin="use-credentials">
    <meta name="msapplication-TileColor" content="#000000">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <div class="site-wrapper">
        {{> "cako-menu"}}
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    <script src="{{asset "js/lib/content-api.min.js"}}"></script>
    <script type="module" src="{{asset "js/CakoApp.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some
    JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already
    loaded. --}}
    {{{block "scripts"}}}
    {{> "templates"}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the
    closing body tag --}}
    {{ghost_foot}}
</body>
</html>