<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
    <meta name="google-site-verification" content="CZuJBVbmjQdYaKUXQ6pDcDQ1Y9dH13s1oeZmN_AZpu4" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/spin.css"}}" />
    
    {{!-- Set dark css path from template to enable cache-busting in lights.js --}}
    <script>
        const DARK_CSS_PATH = '{{asset "css/dark.css"}}';
    </script>
    <script src="{{asset "js/lights.js"}}"></script>
    
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#000000">
    <meta id="theme-color" name="theme-color" content="#fff">

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    <script type="module" src="{{asset "js/ionicons/ionicons.esm.js"}}"></script>

    <div class="site-wrapper">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
        {{> "cako-menu"}}
    </div>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script src="{{asset "js/jquery.min.js"}}"></script>
    <script src="{{asset "js/jquery.fitvids.js"}}"></script>

    <script type="module" src="{{asset "js/postLoadingSpinner.js"}}"></script>
    <script type="module" src="{{asset "js/search.js"}}"></script>
    <script src="{{asset "js/content-api.min.js"}}"></script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
</body>
</html>
