{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "site-nav"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        {{> "cako-search-feed"}}

        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
                <section class="post-full-meta">
                    <time class="post-full-meta-date" title="{{date format="D MMMM YYYY HH:mm:ss"}}" 
                        datetime="{{date format="YYYY-MM-DDTHH:mm:ss"}}">{{date format="D MMMM YYYY"}}</time>
                </section>
            </header>

            {{#if feature_image}}
            <figure class="post-full-image" style="background-image: url({{feature_image}})">
            </figure>
            {{/if}}

            <section class="post-full-content">
                {{content}}
            </section>

        </article>
    </div>
    <div class="site-footer-content inner">
        <section class="copyright"><a href="https://davidcako.com">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
        <div id="email-address-outer">
            <a id="email-address" href="mailto:dc@cako.io">dc@cako.io</a>
        </div>
    </div>
    {{> "post-nav"}}
</main>

{{/post}}

<script>
    // replaces double spaces with an en-space to fix wrapping
    const content = document.getElementsByTagName("p");

    for (let p of content) {
        p.innerHTML = p.innerHTML.replace(/ &nbsp;/g, "&ensp;")
    }
</script>
<link rel="stylesheet" href="{{asset "css/atom-one-dark.min.css"}}" >
<script src="{{asset "js/highlight.min.js"}}"></script>
<script>hljs.initHighlightingOnLoad();</script>  